In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/test_data.csv')
df

,EmpID,Name,Gender,Department,Age,Height,Weight,Smoker,ExerciseLevel,Has_Diabetes,Salary,YearsAtCompany
0,101,Aanya,Female,Sales,24,160,55,No,Low,No,37000,2
1,102,Manish,Male,HR,29,172,68,Yes,Medium,No,45000,3
2,103,Riya,Female,Finance,32,155,58,No,High,Yes,52000,5
3,104,Kunal,Male,IT,26,178,75,Yes,Low,No,60000,1
4,105,Sakshi,Female,Finance,45,162,72,No,Low,Yes,75000,12
5,106,Rohit,Male,Sales,37,182,85,Yes,Medium,No,48000,6
6,107,Dev,Male,IT,41,175,92,No,High,No,84000,15
7,108,Neha,Female,HR,25,158,60,No,Low,No,39000,2
8,109,Raj,Male,Sales,28,180,77,Yes,High,Yes,51000,4
9,110,Anjali,Female,IT,35,165,70,No,Medium,Yes,67000,10

In [ ]:
df.dtypes

EmpID              int64
Name              object
Gender            object
Department        object
Age                int64
Height             int64
Weight             int64
Smoker            object
ExerciseLevel     object
Has_Diabetes      object
Salary             int64
YearsAtCompany     int64
dtype: object

In [ ]:
c = []
n =[]
num ={}
cat ={}

for i in df.columns:
  if (df[i].dtypes == 'object' and i != 'Name'):
    c.append(i)
  else:
    n.append(i)
for i in range(len(c)):
  val = c[i]
  cat[val] = df[val]

categorical_df = pd.DataFrame(cat)

for i in range(len(n)):
  val = n[i]
  num[val] = df[val]

numerical_df = pd.DataFrame(num)

In [ ]:
categorical_df

   Gender Department Smoker ExerciseLevel Has_Diabetes
0  Female      Sales     No           Low           No
1    Male         HR    Yes        Medium           No
2  Female    Finance     No          High          Yes
3    Male         IT    Yes           Low           No
4  Female    Finance     No           Low          Yes
5    Male      Sales    Yes        Medium           No
6    Male         IT     No          High           No
7  Female         HR     No           Low           No
8    Male      Sales    Yes          High          Yes
9  Female         IT     No        Medium          Yes

In [ ]:
numerical_df

   EmpID    Name  Age  Height  Weight  Salary  YearsAtCompany
0    101   Aanya   24     160      55   37000               2
1    102  Manish   29     172      68   45000               3
2    103    Riya   32     155      58   52000               5
3    104   Kunal   26     178      75   60000               1
4    105  Sakshi   45     162      72   75000              12
5    106   Rohit   37     182      85   48000               6
6    107     Dev   41     175      92   84000              15
7    108    Neha   25     158      60   39000               2
8    109     Raj   28     180      77   51000               4
9    110  Anjali   35     165      70   67000              10

In [ ]:
categorical_df['Gender'] = categorical_df['Gender'].map({'Female':0,'Male':1})
categorical_df['Department'] = categorical_df['Department'].map({'Sales':0,'IT':1,'HR':2,'Finance':3})
categorical_df['Smoker'] = categorical_df['Smoker'].map({"No":0,'Yes':1})
categorical_df['ExerciseLevel']=categorical_df['ExerciseLevel'].map({'Low':0,"Medium":1,"High":2})
categorical_df['Has_Diabetes']=categorical_df['Has_Diabetes'].map({'No':0,'Yes':1})

In [ ]:
categorical_df

   Gender  Department  Smoker  ExerciseLevel  Has_Diabetes
0       0           0       0              0             0
1       1           2       1              1             0
2       0           3       0              2             1
3       1           1       1              0             0
4       0           3       0              0             1
5       1           0       1              1             0
6       1           1       0              2             0
7       0           2       0              0             0
8       1           0       1              2             1
9       0           1       0              1             1

In [ ]:
categorical_df.isnull().sum()

Gender           0
Department       0
Smoker           0
ExerciseLevel    0
Has_Diabetes     0
dtype: int64

In [ ]:
numerical_df.isnull().sum()

EmpID             0
Name              0
Age               0
Height            0
Weight            0
Salary            0
YearsAtCompany    0
dtype: int64

In [ ]:
numerical_df = numerical_df.rename(columns ={'YearsAtCompany':'Experience','Height':'Height_cm','Weight':'Weight_kg'})
numerical_df

   EmpID    Name  Age  Height_cm  Weight_kg  Salary  Experience
0    101   Aanya   24        160         55   37000           2
1    102  Manish   29        172         68   45000           3
2    103    Riya   32        155         58   52000           5
3    104   Kunal   26        178         75   60000           1
4    105  Sakshi   45        162         72   75000          12
5    106   Rohit   37        182         85   48000           6
6    107     Dev   41        175         92   84000          15
7    108    Neha   25        158         60   39000           2
8    109     Raj   28        180         77   51000           4
9    110  Anjali   35        165         70   67000          10

In [ ]:
categorical_df.loc[3:7]

   Gender  Department  Smoker  ExerciseLevel  Has_Diabetes
3       1           1       1              0             0
4       0           3       0              0             1
5       1           0       1              1             0
6       1           1       0              2             0
7       0           2       0              0             0

In [ ]:
numerical_df.describe()

           EmpID        Age   Height_cm  Weight_kg        Salary  Experience
count   10.00000  10.000000   10.000000  10.000000     10.000000   10.000000
mean   105.50000  32.200000  168.700000  71.200000  55800.000000    6.000000
std      3.02765   7.130529    9.877584  11.764353  15483.324363    4.760952
min    101.00000  24.000000  155.000000  55.000000  37000.000000    1.000000
25%    103.25000  26.500000  160.500000  62.000000  45750.000000    2.250000
50%    105.50000  30.500000  168.500000  71.000000  51500.000000    4.500000
75%    107.75000  36.500000  177.250000  76.500000  65250.000000    9.000000
max    110.00000  45.000000  182.000000  92.000000  84000.000000   15.000000

In [ ]:
categorical_df.to_csv('emp')
numerical_df.to_csv('emp')

In [ ]:
numerical_df.sort_values(by ='Salary')

   EmpID    Name  Age  Height_cm  Weight_kg  Salary  Experience
0    101   Aanya   24        160         55   37000           2
7    108    Neha   25        158         60   39000           2
1    102  Manish   29        172         68   45000           3
5    106   Rohit   37        182         85   48000           6
8    109     Raj   28        180         77   51000           4
2    103    Riya   32        155         58   52000           5
3    104   Kunal   26        178         75   60000           1
9    110  Anjali   35        165         70   67000          10
4    105  Sakshi   45        162         72   75000          12
6    107     Dev   41        175         92   84000          15

In [ ]:
numerical_df['BMI'] = numerical_df['Weight_kg'] / (numerical_df['Height_cm'] / 100)**2
numerical_df

   EmpID    Name  Age  Height_cm  Weight_kg  Salary  Experience        BMI
0    101   Aanya   24        160         55   37000           2  21.484375
1    102  Manish   29        172         68   45000           3  22.985398
2    103    Riya   32        155         58   52000           5  24.141519
3    104   Kunal   26        178         75   60000           1  23.671254
4    105  Sakshi   45        162         72   75000          12  27.434842
5    106   Rohit   37        182         85   48000           6  25.661152
6    107     Dev   41        175         92   84000          15  30.040816
7    108    Neha   25        158         60   39000           2  24.034610
8    109     Raj   28        180         77   51000           4  23.765432
9    110  Anjali   35        165         70   67000          10  25.711662

In [ ]:
df.groupby('Department')['Salary'].mean()

Department
Finance    63500.000000
HR         42000.000000
IT         70333.333333
Sales      45333.333333
Name: Salary, dtype: float64

In [ ]:
df.groupby('Department')['Age'].mean()

Department
Finance    38.500000
HR         27.000000
IT         34.000000
Sales      29.666667
Name: Age, dtype: float64

In [ ]:
df['Smoker'] = df['Smoker'].map({"No":0,'Yes':1})

In [ ]:
df

,EmpID,Name,Gender,Department,Age,Height,Weight,Smoker,ExerciseLevel,Has_Diabetes,Salary,YearsAtCompany
0,101,Aanya,Female,Sales,24,160,55,0,Low,No,37000,2
1,102,Manish,Male,HR,29,172,68,1,Medium,No,45000,3
2,103,Riya,Female,Finance,32,155,58,0,High,Yes,52000,5
3,104,Kunal,Male,IT,26,178,75,1,Low,No,60000,1
4,105,Sakshi,Female,Finance,45,162,72,0,Low,Yes,75000,12
5,106,Rohit,Male,Sales,37,182,85,1,Medium,No,48000,6
6,107,Dev,Male,IT,41,175,92,0,High,No,84000,15
7,108,Neha,Female,HR,25,158,60,0,Low,No,39000,2
8,109,Raj,Male,Sales,28,180,77,1,High,Yes,51000,4
9,110,Anjali,Female,IT,35,165,70,0,Medium,Yes,67000,10

In [ ]:
df.groupby('Department')['Smoker'].sum()

Department
Finance    0
HR         1
IT         1
Sales      2
Name: Smoker, dtype: int64